<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    {% load static from staticfiles %}
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Environment Indicator</title>
	<link rel="stylesheet" href="{% static 'reset.css' %}" media="all">
	<link rel="stylesheet" href="{% static 'style.css' %}" media="all">
    <script src="{% static 'jquery-1.7.2.min.js' %}"></script>
    <script src="{% static 'raphael-min.js' %}"></script>
    <script src="{% static 'kartograph.min.js' %}"></script>
    <script src="{% static 'common.js' %}"></script>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
      		google.load("visualization", "1", {packages:["corechart"]});
	      	google.setOnLoadCallback(drawChart);
	      	function drawChart() {
	        	var data = google.visualization.arrayToDataTable([
	          		['Year', 'Insecticides', 'Rodenticides'],
	          		['2004',  48.21,      1.52],
	          		['2005',  67.75,      1.46],
			        ['2006',  46.79,      1.81],
	        	]);

	        	var data_food = google.visualization.arrayToDataTable([
	        		['Year', 'Foods'],
	        		['2004',  104208],
	          		['2005',  104260],
			        ['2006',  104312],

	        	]);


		        var options = {
		          title: 'Pesticides',
		          hAxis: {title: 'Year', titleTextStyle: {color: 'red'}},
		        };

		        var options_food = {
		          title: 'Foods',
		          hAxis: {title: 'Year', titleTextStyle: {color: 'green'}},
		        };

		        var chart = new google.visualization.ColumnChart(document.getElementById('pesticide_div'));
		        chart.draw(data, options);

		        var chart_food = new google.visualization.ColumnChart(document.getElementById('food_div'));
		        chart_food.draw(data_food, options_food);

		    }
    </script>
</head>
<body>
	<div id="wrapper">

		<div id="content-wrap">
			<div id="header">
				<div id="page">
					<!--<h1><a href="#"><img src="images/logo.png" alt="logo" title="" height="72" width="200" /></a></h1>-->
				</div><!--End #page-->
			</div><!--End #header-->

			<div id="content">
				<div id="page">
                    <select name="year" id="year">
                        <option value="2004">2004</option>
                        <option value="2004">2005</option>
                        <option value="2004">2006</option>
                    </select>
                    <div id="map"></div>
                    <div id="pesticide_div" style="width: 600px; height: 500px;"></div>
                    <div id="food_div" style="width: 500px; height: 500px;"></div>
				</div><!--End #page-->
			</div><!--End #content-->
		</div><!--End #content-wrap-->

		<div id="footer">
			<div id="page">
				<div class="copyright">
					Agro Index.
				</div>
			</div><!--End #page-->
		</div><!--End .footer-->
	</div><!--End #wrapper-->
</body>
</html>