<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>ENVIRONMENT INDICATOR</title>
	{% load static from staticfiles %}
	<link href="{% static 'reset.css'%}" rel="stylesheet" type="text/css" />
	<link href="{% static 'style.css'%}" rel="stylesheet" type="text/css" />
	<link href='http://fonts.googleapis.com/css?family=Rokkitt' rel='stylesheet' type='text/css'>
	<script src="{% static 'jquery-1.7.2.min.js' %}"></script>
    <script src="{% static 'raphael-min.js' %}"></script>
    <script src="{% static 'kartograph.min.js' %}"></script>
    <script src="{% static 'common.js' %}"></script>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
      		google.load("visualization", "1", {packages:["corechart"]});
	      	google.setOnLoadCallback(drawChart);
	      	function drawChart() {
	        	var data = google.visualization.arrayToDataTable([
	          		['Year', 'Insecticides', 'Rodenticides'],
	          		['2004',  48.21,      1.52],
	          		['2005',  67.75,      1.46],
			        ['2006',  46.79,      1.81],
	        	]);

	        	var data_food = google.visualization.arrayToDataTable([
	        		['Year', 'Foods'],
	        		['2004',  104208],
	          		['2005',  104260],
			        ['2006',  104312],

	        	]);


		        var options = {
		          title: 'Pesticides',
		          hAxis: {title: 'Year', titleTextStyle: {color: 'red'}},
		        };

		        var options_food = {
		          title: 'Foods',
		          hAxis: {title: 'Year', titleTextStyle: {color: 'green'}},
		        };

		        var chart = new google.visualization.ColumnChart(document.getElementById('pesticide_div'));
		        chart.draw(data, options);

		        var chart_food = new google.visualization.ColumnChart(document.getElementById('food_div'));
		        chart_food.draw(data_food, options_food);

		    }
    </script>
</head>

<body>
	<div id="wrapper">
		<div id="page">
			<div id="logo-wrap">
				<h1><a href="#"><img src="/static/logo.png" alt="" title="" height="210" width="326"/></a></h1>
			</div>

			<div id="content-sec">
				<div id="map-wrap">
					<div id="map" class="map">

					</div>
					<div class="map-control">
						<select id="year">
							<option value="2004">2004</option>
							<option value="2005">2005</option>
							<option value="2006">2006</option>
						</select>

					</div>
				</div>
				<div id="filter-wrap">
					<div class="chart clearfix">
						<div id="pesticide_div"></div>
                    	<div id="food_div"></div>
					</div>
				</div>
			</div>
		</div><!--End #page-->
	</div><!--End #wrapper-->
</body>
</html>